body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

#wrapper {
  margin: auto;
  width: 50%;
  overflow-x: hidden;
}

.modal {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-content {
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 10% auto;
}

#cpu, #twoP {
  flex-basis: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cpu:hover, #twoP:hover {
  background-color: #000;
  color: #fff;
}

.modal-content-2-p2, .modal-content-2-cpu {
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #fff;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -25%;
  width: 50%;
  height: 50%;
  z-index: 2;
}

.score-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 320px;
}

.score-container > div {
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.score-container div.pTwo {
  display: none;
}

.score-container div.ai {
  display: none;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

td {
  border: 2px solid #444;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 70px;
  cursor: pointer;
}

.endgame {
  display: none;
  width: 200px;
  top: 420px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  border-radius: 5px;
  font-size: 2em;
}

.whoseTurn {
  text-align: center;
  font-size: 1.5em;
}
